/* 

ESTRUTURA DO SITE 
-------------------------------------------------------------------

*/

:root {
 --bg-color: #141414;
 --body-bg-color: #EEF0F2;
 --yellow: #EEC643;
 --link: #011638;
 --blue: #121273;
 
}

main {
 background: #141414;
 margin: 0;
}

.container a {
 display: block;
 text-align: center;
 text-decoration: none;
 color:#EEF0F2;
 margin-top: 10px;
}

.container a:hover {
 color:#eec643;
}

.image-perfil {
 display: block;
 width: 200px;
 margin: 0 auto;
 border-radius: 100%;
}

.container {
 background-color: #011638;
 padding-top: 5px;
}

.container-perfil {
 padding: 50px 0 10px 0;
}

.container-texto {
 display: flex;
 justify-content: center;
}

.container-texto a {
 margin-left: 5px;
}



.links {
 border: 1px solid #141414;
 width: 50%;
 margin: 0 auto;
 padding: 10px;
 background-color: #141414;
 border-radius: 20px;
 
}

.container-social {
 display: flex;
 justify-content: center;
}

.container-social a {
 margin: 20px;

}

footer {
 text-align: center;
 padding: 20px 0 10px 0;
 color: #EEC643;
}